---
Language:        Cpp
BasedOnStyle:  Google
PointerBindsToType: true
AlignConsecutiveAssignments: false
FixNamespaceComments: true
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:

  - Regex:           '^<ovis\/core'
    Priority:        3

  - Regex:           '^<ovis\/math'
    Priority:        3
    SortPriority:    4

  - Regex:           '^<ovis\/scene'
    Priority:        3
    SortPriority:    5

  - Regex:           '^<ovis\/graphics'
    Priority:        3
    SortPriority:    6

  - Regex:           '^<ovis\/rendering'
    Priority:        3
    SortPriority:    7

  - Regex:           '^<ovis\/input'
    Priority:        3
    SortPriority:    8

  - Regex:           '^<ovis\/audio'
    Priority:        3
    SortPriority:    9

  - Regex:           '\.(hpp|hh|h)>$'
    Priority:        2

  - Regex:           '.*'
    Priority:        1
...
